@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  padding: 0 40px;
  color: #333333;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-brown {
  background-color: #756257;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  background-color: #615048;
}

.button-brown:active {
  background-color: #615048;
}

.button-blue {
  background-color: #83B3D3;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  outline: 3px solid #756257;
  outline-offset: -1px;
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #68A2CA;
}

.button-blue-favorites:hover {
  outline: 1px solid #756257;
}

.button-blue-favorites:active {
  outline: 1px solid #756257;
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  outline: 3px solid #756257;
  outline-offset: -1px;
  background-color: #6C9E42;
}

.button-green:active {
  background-color: #6C9E42;
}

.button-transparent {
  background-color: transparent;
}

/* header */
.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  background-color: #FFFFFF;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 531px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-left: 60px;
  list-style: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 531px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-right: 72px;
  list-style: none;
}

.navigation-item {
  position: relative;
  padding-top: 16px;
  padding-bottom: 17px;
}

.navigation-item:not(:last-child) {
  margin-right: 8px;
}

.navigation-user-item-search {
  margin-right: 4px;
}

.navigation-user-item-favorites {
  margin-right: 24px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  padding-right: 9px;
  padding-left: 9px;
  border: 3px solid transparent;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  outline: none;
  border-color:#83B3D3;
  border-radius: 10px;
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-item-curent::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 9px;
  width: calc(100% - 18px);
  height: 2px;
  background-color: #756257;
}

.navigation-logo-container {
  position: relative;
}

.navigation-link-logo {
  position: absolute;
  left: -69px;
}

.navigation-user-item {
  position: relative;
}

.navigation-user-link {
  display: block;
  position: relative;
  width: 35px;
  height: 35px;
  border: 3px solid transparent;
}

.navigation-user-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-user-link:hover .navigation-user-icon {
  fill: #756257;
}

.navigation-user-link:focus {
  outline: none;
  border-color:#83B3D3;
  border-radius: 10px;
}

.navigation-user-link:focus .navigation-user-icon {
  fill: #756257;
}

.navigation-user-link:active .navigation-user-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-user-link:active .favorites-number {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button {
  font-size: 16px;
  line-height: 21px;
  min-width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.favorites-number {
  text-align: center;
  position: absolute;
  top: -3px;
  right: -6px;
  width: 19px;
  height: 19px;
  padding-top: 3px;
  font-size: 10px;
  line-height: 13px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #7DB54F;
}

/* popover */
.popover {
  position: absolute;
  top: 47px;
  left: -181px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  border-radius: 20px;
  min-height: 48px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  display: none;
}

.popover-open {
  display: block;
}

.popover::after {
  position: absolute;
  top: -9px;
  left: 188px;
  content: "";
  background-image: url("../img/popover/favorites.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
}

.popover-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
}

.popover-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-bottom: 0;
  border-radius: 20px 20px 0 0;
  list-style-type: none;
}

.popover-item {
  display: flex;
  margin-bottom: 25px;
}

.popover-item:last-child {
  margin-bottom: 0;
}

.popover-link {
  display: grid;
  align-items: center;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 24px 24px;
  text-decoration: none;
}

.popover-link:hover {
  opacity: 0.6;
}

.popover-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 5px;
  border-radius: 10px;
}

.popover-link:active {
  opacity: 0.3;
}

.product-card-image {
  grid-row: 1 / 3;
}

.popover-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  padding-left: 17px;
  color: #000000;
}

.popover-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding-left: 17px;
  color: #333333;
}

.delete-button {
  width: 36px;
  height: 36px;
  margin-left: auto;
  margin-right: -11px;
  margin-top: -3px;
  padding: 0;
  border: none;
  background-color: #FFFFFF;
  border-radius: 10px;
  fill: rgba(0, 0, 0, 0.2);
}

.delete-button:hover {
  fill: #000000;
}

.delete-button:focus {
  outline: 3px solid #83B3D3;
}

.delete-button:active {
  fill: rgba(0, 0, 0, 0.1);
}

.popover-all-favorites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  width: 100%;
  height: 60px;
  border-radius: 0px 0px 20px 20px;
}

/* main-index */
.page-main {
  flex-grow: 1;
}

.main-logo {
  background-image: url("../img/index/main-images/divider.svg"),
  url("../img/index/main-images/index-background.jpg");
  background-size: contain,
  cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #48708f;
}

.main-logo-img {
  display: block;
  margin: 0 auto;
}

/* advantages */
.advantages {
  background-color: #FFFFFF;
}

.advantages-container {
  padding-right: 240px;
  padding-left: 240px;
  padding-top: 63px;
  padding-bottom: 59px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color:#000000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-text {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
}


.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}

.advantages-item-container,
.advantages-item-small {
  width: 400px;
}

.advantages-item-small {
  display: block;
}

.advantages-item-small .advantages-item-title {
  padding-top: 98px;
  padding-bottom: 27px;
}

.advantages-item-small .advantages-item-description {
  padding-bottom: 109px;
}

.advantages-item-blue {
  grid-column: 1 / -1;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-blue .advantages-item-container > .advantages-item-title {
  color: #FFFFFF;
}

.advantages-item-blue-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-blue-light-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-icon-housing {
  background-image: url("../img/index/advantages-items/advantages-1.svg");
  background-repeat: no-repeat;
  background-size: 74px 72px;
  background-position: center 89px;
}

.advantages-item-icon-food {
  background-image: url("../img/index/advantages-items/advantages-2.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: center 91px;
}

.advantages-item-icon-souvenirs {
  background-image: url("../img/index/advantages-items/advantages-3.svg");
  background-repeat: no-repeat;
  background-size: 64px 75px;
  background-position: center 85px;
}

.advantages-item-title,
.advantages-item-title-icon {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 87px;
  padding-bottom: 30px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-title-icon {
  padding-top: 184px;
  padding-bottom: 0;
}

.advantages-item-description,
.advantages-item-description-icon {
  margin: 0;
  padding-top: 30px;
  padding-right: 80px;
  padding-bottom: 77px;
  padding-left: 80px;
}

.advantages-item-description-icon {
  padding-top: 20px;
  padding-bottom: 89px;
}

/* search */
.search {
  text-align: center;
  padding: 64px 240px;
  padding-bottom: 91px;
  background-color: #FFFFFF;
}

.search-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 59px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  min-width: 575px;
  padding-top: 11px;
  padding-bottom: 13px;
  border-radius: 10px;
}

/* subscribe */
.subscribe {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  padding: 67px 200px;
  padding-bottom: 111px;
  color: inherit;
  background-color: #FFFFFF;
}

.subscribe-image {
  background-image: url("../img/index/subscribe-background/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #48708f;
  padding-bottom: 72px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-image .subscribe-title {
  color: #FFFFFF;
}

.subscribe-text {
  margin-bottom: 47px;
}

.email-form {
  display: flex;
  width: 800px;
}

.subscribe-email-form {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  width: 600px;
  height: 60px;
  padding-left: 22px;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #F2F2F2;
}

.subscribe-email-form:hover {
  background-color: #E6E6E6;
}

.subscribe-email-form:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  z-index: 1;
  border-radius: 10px 0 0 10px;
  background-color: #E6E6E6;
}

.subscribe-email-form:active {
  outline: 2px solid #000000;
  outline-offset: -1px;
  z-index: 1;
  border-radius: 10px 0 0 10px;
  background-color: #FFFFFF;
}

.subscribe-email-form:not(:placeholder-shown):invalid {
  outline: 2px solid #FF5757;
  outline-offset: -1px;
  z-index: 1;
  border-radius: 10px 0 0 10px;
  background-color: #FFFFFF;
}

.subscribe-button {
  font-size: 20px;
  min-width: 200px;
  border-radius: 0 10px 10px 0;
}

/* catalog */
.background-inner-img {
  background-image: url("../img/catalog/background/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 79px;
  color: #FFFFFF;
  background-color: #48708f;
}

/* inner-header */
.inner-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.inner-header-title {
  display: flex;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  width: 100%;
  margin: 0;
  margin-left: 71px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  margin-left: 68px;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-left: 16px;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  background-image: url("../img/catalog/breadcrumbs/nav.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 6px;
  left: -10px;
  width: 5px;
  height: 8px;
  opacity: 0.3;
}

.breadcrumbs-item:first-child {
  margin-left: 0;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link {
  display: block;
  line-height: 1;
  position: relative;
  text-decoration: none;
  padding: 0 5px 0 5px;
  color: #FFFFFF;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon {
  fill: #FFFFFF;
}

/* catalog-filter */
.catalog-filter-form {
  display: flex;
  margin-left: 71px;
  margin-right: 72px;
  padding-top: 3px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-infrastructure {
  width: 150px;
  margin-right: 62px;
}

.catalog-filter-type {
  width: 161px;
  margin-right: 150px;
}

.catalog-filter-price {
  width: 295px;
  margin-right: 76px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom: 13px;
}

.filter-control {
  position: relative;
  display: block;
  word-break: break-word;
  padding-left: 39px;
}

.filter-control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.filter-control-mark:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-control-checkbox:focus + .filter-control-mark {
  outline: 3px solid rgba(131, 179, 211, 0.6);
  outline-offset: -1px;
  border-radius: 4px;
}

.filter-control-mark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-control-checkbox:checked + .filter-control-mark {
  background-image: url("../img/catalog/catalog-items/tick.svg");
  background-size: 12px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-control-mark-radio {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.filter-control-radio:focus + .filter-control-mark-radio {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  border-radius: 50%;
}

.filter-control-radio:checked + .filter-control-mark-radio::before {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}

.filter-control-label {
  font-size: 18px;
  line-height: 23px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  position: relative;
}

.catalog-filter-input {
  -moz-appearance: textfield;
  width: 143px;
  height: 48px;
  padding: 15px 15px;
  padding-right: 50px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  outline: none;
  color: #FFFFFF;
}

.catalog-filter-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-input:focus {
  outline: 3px solid #81B3D2;
  box-shadow: inset 0px 0px 0px 3px #81B3D2;
  z-index: 1;
}

.catalog-filter-input:active {
  background-color: #756257;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input-left {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-input-right {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-text {
  position: absolute;
  font: inherit;
  bottom: 15px;
  left: 110px;
  z-index: 2;
  color: rgba(255, 255, 255, 0.3);
}

.range {
  padding-top: 6px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 28px;
  margin-left: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  width: 225px;
  height: 4px;
  left: 1px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-input {
  font-size: 18px;
  line-height: 23px;
}

.catalog-button {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 62px;
}

.button-apply {
  min-width: 160px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.button-apply {
  font-size: 16px;
}

.button-apply:focus {
  outline: 3px solid #FFFFFF;
}

.button-reset {
  align-self: center;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  width: 100px;
  height: 32px;
  margin-top: 15px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/* catalog-products */
.catalog-products {
  display: flex;
  flex-direction: column;
  padding-right: 72px;
  padding-left: 71px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.sorting-container {
  display: flex;
  align-items: center;
  padding-bottom: 42px;
  padding-top: 44px;
  border-bottom: 1px solid #E6E6E6;
}

.hotels-found {
  width: 338px;
  margin: 0;
  margin-right: 192px;
}

.hotels-found,
.hotels-found-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-type {
  width: 287px;
  margin-right: auto;
}

.change-view {
  display: flex;
  width: 160px;
}

.select-filter-control {
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  height: 48px;
  background-position: 250px center;
  color: #333333;
}

.select {
  margin: 0;
  padding-left: 15px;
  font: inherit;
  font-weight: 400;
  background-image: url("../img/catalog/catalog-items/dropdown.svg");
  background-size: 12px 7px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  outline: none;
  appearance: none;
  color: #333333;
}

.select:hover {
  border: 2px solid #83B3D3;
}

.select:focus {
  border: 2px solid #83B3D3;
}

.select:active {
  opacity: 0.3;
}

.change-view-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  color: #333333;
}

.change-view-link:last-child {
  margin-right: 0;
}

.change-view-link-current {
  border-color: #000000;
}

.change-view-link:hover {
  border-color: #83B3D3;
}

.change-view-link:focus {
  border-color: #83B3D3;
  outline: none;
}

.change-view-icon {
  fill: #000000;
}

.product-card-list {
  display: grid;
  grid-template-columns: 1056px;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  list-style: none;
}

.product-card-item {
  display: grid;
  grid-template-columns: 180px 23px 318px 376px 160px;
  grid-column: 1 / -1;
  padding-top: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E6E6E6;
}

.product-card-link-image {
  outline: none;
}

.product-card-link-image:hover .product-card-image {
  opacity: 0.6;
}

.product-card-link-image:focus .product-card-image {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
}

.product-card-link-image:active .product-card-image {
  opacity: 0.3;
}

.product-card-image {
  grid-column: 1 / 1;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 3 / 5;
}

.product-card-link {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
}

.product-card-link:hover .product-card-title {
  color: #756257;
}

.product-card-link:focus .product-card-title {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  border-radius: 10px;
  color: #756257;
}

.product-card-link:active .product-card-title {
  color: rgba(117, 98, 87, 0.3);
}

.product-card-title {
  font-size: 24px;
  margin-top: -12px;
  margin-bottom: 0;
  padding: 7px 13px 7px 13px;
}

.product-card-text {
  margin-top: -3px;
  margin-bottom: 31px;
  padding-left: 13px;
}

.product-card-type {
  display: inline-block;
  min-width: 157px;
}

.product-card-button-container {
  padding-left: 13px;
}

.product-card-button {
  min-width: 151px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.product-card-button:not(:last-child) {
  margin-right: 5px;
}

.button-favorites {
  min-width: 160px;
}

.product-card-rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: auto;
  padding-top: 3px;
  padding-bottom: 5px;
}

.product-card-rating {
  border-radius: 4px;
}

.product-card-star {
  background-image: url("../img/catalog/catalog-items/star.svg");
  background-size: 18px 17px;
  background-repeat: space no-repeat;
  height: 17px;
}

.product-card-star-5 {
  width: 107px;
}

.product-card-star-4 {
  width: 89px;
}

.product-card-star-3 {
  width: 71px;
}

.product-card-star-2 {
  width: 43px;
}

.product-card-star-1 {
  width: 21px;
}

.product-card-rating {
  text-transform: uppercase;
  min-width: 160px;
  margin-top: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #F2F2F2;
}

.pagination-show-more {
  font-size: 20px;
  align-self: center;
  min-width: 625px;
  margin-bottom: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.pagination-container {
  display: flex;
  padding-top: 31px;
  border-top: 1px solid #E6E6E6;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  min-width: 55px;
  padding: 14px 0;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  outline: 3px solid #756257;
  outline-offset: -1px;
}

.pagination-link:active {
  color: rgba(225, 225, 225, 0.3);
  background-color: #68A2CA;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.number-hotels {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.number-hotels-text {
  margin-right: 51px;
}

.number-hotels-select {
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  height: 48px;
  background-position: 125px center;
  color: #333333;
}

.footer-container {
  display: flex;
  padding-top: 38px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}

.footer-social {
  width: 242px;
  margin-right: auto;
  padding-left: 61px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 4px;
}

.footer-social-link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #83B3D3;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  border-radius: 10px;
}

.footer-social-link:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.footer-contacts-phone-link {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  padding: 6px 9px 12px 9px;
  color: #000000;
}

.footer-contacts-phone-link:hover {
  color: #756257;
}

.footer-contacts-phone-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  border-radius: 10px;
}

.footer-contacts-phone-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.footer-creators {
  width: 240px;
  margin-left: auto;
  padding-left: 54px;
  padding-top: 4px;
}

.footer-creators-link {
  display: block;
  text-decoration: none;
  width: 160px;
  height: 70px;
  color: #000000;
}

.footer-creators-link:hover .footer-social-icon-htmlacademy {
  fill: #756257;
}

.footer-creators-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  border-radius: 10px;
}

.footer-creators-link:active .footer-social-icon-htmlacademy {
  fill: rgba(117, 98, 87, 0.3);
}

.footer-social-icon-htmlacademy {
  fill: #000000;
}

/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal-container-shown {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 60px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../img/modal-search/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  background-color: #E6E6E6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-search-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-search-item {
  display: flex;
  margin-bottom: 40px;
}

.modal-search-label {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  width: 155px;
  margin-top: 5px;
  color: #000000;
}

.modal-search-input-container {
  position: relative;
  width: 420px;
}

.modal-search-input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 38px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  background-image: url("../img/modal-search/date.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: none;
  outline: none;
  background-color: #F2F2F2;
  border-radius: 4px;
  color: #000000;
}

.modal-search-input:hover {
  background-color: #E6E6E6;
}

.modal-search-input:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  background-color: #E6E6E6;
}

.modal-search-input:active {
  outline: 2px solid #000000;
  outline-offset: -1px;
  background-color: #FFFFFF;
}

.modal-search-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

.input-text {
  position: absolute;
  display: none;
  left: 0;
  bottom: -35px;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
}

.input-text-error {
  color: #FF5757;
}

.input-text-shown {
  display: inline;
}

.adult-container {
  display: flex;
  width: 288px;
  margin-right: 56px;
}

.child-container {
  display: flex;
  width: 230px;
}

.modal-search-button-number-container {
  position: relative;
  width: 133px;
}

.modal-search-number-input {
  width: 133px;
  height: 50px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: #F2F2F2;
  border-radius: 4px;
  color: #000000;
}

.modal-search-button-min-number {
  position: absolute;
  top: 12.5px;
  left: 15px;
  width: 25px;
  height: 25px;
  background-image: url("../img/modal-search/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  opacity: 0.3;
  border: none;
}

.modal-search-button-max-number {
  position: absolute;
  top: 12.5px;
  right: 15px;
  width: 25px;
  height: 25px;
  background-image: url("../img/modal-search/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  opacity: 0.3;
  border: none;
}

.modal-search-button-min-number:hover,
.modal-search-button-max-number:hover {
  opacity: 1;
}

.modal-search-button-min-number:focus,
.modal-search-button-max-number:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  border-radius: 4px;
  fill: #000000;
}

.modal-search-button-min-number:active,
.modal-search-button-max-number:active {
  opacity: 0.2;
}

.tip::before {
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  margin-top: 13px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image: url("../img/modal-search/tip.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tip:hover::before {
  background-color: #68A2CA;
}

.tip:hover .tip-text {
  display: block;
}

.tip-text {
  display: none;
  position: absolute;
  right: 106px;
  z-index: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 256px;
  height: 143px;
  padding: 18px 22px;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #FFFFFF;
}

.tip-text::before {
  content: "";
  position: absolute;
  top: -9px;
  right: 116px;
  z-index: 2;
  width: 19px;
  height: 9px;
  background-image: url("../img/modal-search/triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-search-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  width: 575px;
  height: 60px;
  border-radius: 10px;
}
