@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.button {
  font-family: inherit;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-transparent {
  background-color: transparent;
}

/* header */
.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  background-color: #FFFFFF;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 531px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-left: 71px;
  list-style: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 531px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-right: 72px;
  list-style: none;
}

.navigation-item:not(:last-child) {
  margin-right: 33px;
}

.navigation-user-item:not(:last-child) {
  margin-right: 21px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 20px;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-button {
  font-size: 16px;
  line-height: 21px;
  min-width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.favorites-number {
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  background-color: #7DB54F;
}

/* main-index */
.page-main {
  flex-grow: 1;
}

.main-logo {
  background-image: url("../img/index/main-images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-logo-img {
  display: block;
  margin: 0 auto;
}

/* advantages */
.advantages {
  background-color: #FFFFFF;
}

.advantages-container {
  padding-right: 240px;
  padding-left: 240px;
  padding-top: 63px;
  padding-bottom: 79px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color:#000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  text-align: center;
}


.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}

.advantages-item-container,
.advantages-item-small {
  width: 400px;
}

.advantages-item-small {
  display: block;
}

.advantages-item-blue {
  grid-column: 1 / -1;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-blue .advantages-item-container > .advantages-item-title {
  color: #FFFFFF;
}

.advantages-item-blue-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-blue-light-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title,
.advantages-item-title-icon {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 98px;
  padding-bottom: 25px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-title-icon {
  padding-bottom: 0;
}

.advantages-item-description,
.advantages-item-description-icon {
  margin: 0;
  padding-top: 26px;
  padding-right: 90px;
  padding-bottom: 77px;
  padding-left: 90px;
}

.advantages-item-description-icon {
  padding-top: 20px;
}

/* search */
.search {
  text-align: center;
  padding: 91px 240px;
  background-color: #FFFFFF;
}

.search-title {
  text-transform: uppercase;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  min-width: 575px;
  padding-top: 11px;
  padding-bottom: 13px;
}

/* subscribe */
.subscribe {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  padding: 94px 200px;
  color: inherit;
  background-color: #FFFFFF;
}

.subscribe-image {
  background-image: url("../img/index/subscribe-background/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-image .subscribe-title {
  color: #FFFFFF;
}

.email-form {
  display: flex;
  width: 800px;
}

.subscribe-email-form {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  width: 600px;
  height: 60px;
  background-color: #F2F2F2;
}

.subscribe-button {
  font-size: 20px;
  min-width: 200px;
}

/* catalog */
.background-inner-img {
  background-image: url("../img/catalog/background/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 86px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

/* inner-header */
.inner-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.inner-header-title {
  display: flex;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 71px;
}

.breadcrumbs-list {
  display: flex;
  width: 111px;
  margin: 0;
  margin-left: 73px;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  text-decoration: none;
  margin-left: 26px;
  color: #FFFFFF;
}

/* catalog-filter */
.catalog-filter-form {
  display: flex;
  justify-content: space-between;
  margin-left: 71px;
  margin-right: 72px;
}

.catalog-filter-infrastructure {
  width: 150px;
}

.catalog-filter-type {
  width: 161px;
}

.catalog-filter-price {
  width: 287px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-control-label {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-input {
  font-size: 18px;
  line-height: 23px;
}

.catalog-button {
  display: flex;
  flex-direction: column;
}

.button-apply,
.button-reset {
  min-width: 160px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.button-apply {
  font-size: 16px;
}

.button-reset {
  text-transform: none;
  font-weight: 400;
  font-size: 18px;

}

/* catalog-products */
.catalog-products {
  display: flex;
  flex-direction: column;
  padding-right: 72px;
  padding-left: 71px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.sorting-container {
  display: flex;
  margin-bottom: 73px;
  padding-top: 44px;
}

.hotels-found {
  width: 338px;
  margin: 0;
  margin-right: 192px;
}

.hotels-found,
.hotels-found-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-type {
  width: 287px;
  margin-right: auto;
}

.change-view {
  width: 160px;
}

.select-filter-control {
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  height: 48px;
  color: #333333;
}

.change-view-link {
  text-decoration: none;
  width: 48px;
  height: 48px;
  color: #333333;
}

.product-card-list {
  display: grid;
  grid-template-columns: 1056px;
  gap: 58px;
  margin: 0;
  margin-bottom: 61px;
  padding: 0;
  list-style: none;
}

.product-card-item {
  display: grid;
  grid-template-columns: 180px 36px 318px 361px 160px;
  grid-column: 1 / -1;
}

.product-card-image {
  grid-column: 1 / 1;
}

.product-card-container {
  grid-column: 3 / 5;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.product-card-text {
  margin-top: 0;
  margin-bottom: 31px;
}

.product-card-type {
  margin-right: 78px;
}

.product-card-button {
  min-width: 151px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-card-button:not(:last-child) {
  margin-right: 8px;
}

.product-card-rating-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
}

.product-card-rating {
  text-transform: uppercase;
  min-width: 160px;
  margin-top: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #F2F2F2;
}

.pagination-show-more {
  font-size: 20px;
  align-self: center;
  min-width: 625px;
  margin-bottom: 61px;
  padding-top: 15px;
  padding-bottom: 14px;
}

.pagination-container {
  display: flex;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 7px;
}

.pagination-link {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  min-width: 55px;
  padding: 14px 0;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.number-hotels {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.number-hotels-text {
  margin-right: 51px;
}

.number-hotels-select {
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  height: 48px;
  color: #333333;
}

/* footer */
.footer-container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}

.footer-social {
  width: 242px;
  margin-right: auto;
  padding-left: 72px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 20px;
}

.footer-social-link {
  text-decoration: none;
  min-width: 20px;
  min-height: 18px;
  color: #83B3D3;
}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.footer-contacts-phone-link {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.footer-creators {
  width: 240px;
  margin-left: auto;
  min-width: 115px;
  min-height: 34px;
  padding-right: 72px;
}

.footer-creators-link {
  text-decoration: none;
  color: #000000;
}
